{% extends 'base.html' %}
{% block head %}
<style>
    body {
        background-color: rgb(0, 0, 34);
        color: white;
    }

    .title {
        margin: 30px 0 10px;
    }

    .footer {
        margin-top: 10px;
    }
    .urlInput,
    .urlInput:focus,
    .submit {
        border-radius: 0;
        outline: 3px solid #007bff;
    }
</style>
<title>URL Shortener - Made By Nawaf</title>
{% endblock %}
{% block body %}
<div class="inputDiv container">
    <h3 class="title">URL Shortener - Made By Nawaf</h3>
    <form action="?" method="POST">
        <div class="d-table-cell w-100">
            <input type="url" class="urlInput form-control" name=urlInput placeholder="www.example.com" autofocus>
        </div>
        <div class="d-table-cell align-middle">
            <input type="submit" class="submit btn btn-primary">
        </div>
    </form>
    <div class="footer">
        Made by <a href="https://nawaf.cf" target="_blank">Nawaf Alqari</a> © 2021, <a href="">Terms of service</a>
    </div>
</div>
{% endblock %}